<script src='/lib/jquery-1.12.3.min.js'></script>
<script src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js'></script>
<script src='/lib/bootstrap/js/bootstrap.js'></script>
<script src='/lib/jquery-ui-1.11.4.custom/jquery-ui.min.js'></script>
<script src="/lib/datatables/datatables.js"></script>
<script src="/lib/kindeditor/kindeditor-all-min.js"></script>
<script src="/lib/kindeditor/lang/zh_CN.js"></script>
<script src="/lib/underscore-min.js"></script>
<script src="/lib/momentjs/moment.min.js"></script>
<script src="/lib/momentjs/zh-cn.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
<script src='/javascripts/base.js'></script>
<script src="/lib/angular.min.js"></script>

