<nav class="navbar navbar-inverse navbar-fixed-top" style="background:#318FCC;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home" style="color:#fff;">YZH的物流管理系统</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" onclick="goUrl('/logout',  {}, '/')" style="color:#fff;">退出</a></li>

            </ul>
        </div>
    </div>
</nav>