body{
    padding-top: 50px;
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #428bca;
    color:#fff;
}
.nav-sidebar li:nth-child(odd){
    background-color:#fff!important;
}

.main {
    padding: 20px;
    overflow:auto;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


form .form-control{
    padding: 0 6px;
    height: 28px;
}
form .input-group{
    font-size:13px;
}
form .form-group.submit-btns{
    margin-top: 45px;
}
.fileitem:hover{
    border-color:#999;
}

